:root {
  /* Colors */
  --background: var(--light-grey);

  --white: hsl(1deg 0% 100% / 1);
  --lighter-grey: hsl(0deg 0% 94% / 1);
  --light-grey: hsl(0deg 0% 95% / 1);
  --mid-grey: hsl(0deg 0% 57% /1);
  --dark-grey: hsl(0deg 0% 20% /1);
  --pink: hsl(338deg 56% 62% / 1);
  --red: hsl(4deg 67% 48% / 1);
  --light-blue: hsl(216deg 62% 59% /1);
  --mid-blue: hsl(217deg 70% 30% / 1);
  --dark-blue: hsl(228deg 45% 50% / 1);
  --olive: hsl(59deg 47% 41% / 1);
  --black: hsl(0deg 0% 0% / 1);

  --button-background: var(--mid-blue);

  --radio-color-light-blue: var(--light-blue);
  --radio-color-mid-blue: var(--mid-blue);
  --radio-color-red: var(--red);
  --radio-color-black: var(--black);
  --radio-color-olive: var(--olive);
  --radio-color-pink: var(--pink);

  /* Variables */
  --border-radius-box: 1rem;
  --border-radius-input: 0.25rem;

  /* Font Size */
  --caption-font-size: 0.75rem;
  --paragraph-font-size: 0.9rem;
  --button-font-size: 1.2rem;
  --price-font-size: 1.25rem;
  --line-height: 1.2rem;

  /* Transition Duration */

  --duration: 175ms;
}

/*    Google Fonts local
========================================================================== */

/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./quicksand-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("./quicksand-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("./quicksand-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", Times, Helvetica, sans-serif;
  background: var(--background);
}

.main {
  margin: 2rem;
}

/*    Product Grid
========================================================================== */

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* =========================================================================
Productbox
============================================================================ */

.product-headline {
  color: var(--dark-grey);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.product {
  border-radius: var(--border-radius-box);
  background: var(--white);
  display: grid;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  color: var(--mid-grey);
}

/* Productimage */

.product-image {
  margin: 0;
  padding: 0;
  position: relative;
}

.product-image img {
  width: 100%;
  border-radius: var(--border-radius-box) var(--border-radius-box) 0 0;
  object-fit: cover;
}

.overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: absolute;
  border-radius: var(--border-radius-box) var(--border-radius-box) 0 0;
  background-image: linear-gradient(
    0deg,
    rgb(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0) 70%
  );
}

.product-caption {
  position: absolute;
  z-index: 3;
  bottom: 1rem;
  left: 1rem;
  font-size: var(--paragraph-font-size);
  color: var(--mid-grey);
}

/* Producttext */

.product-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: var(--paragraph-font-size);
  color: var(--mid-grey);
  line-height: var(--line-height);
  -webkit-line-clamp: 4;
  margin-bottom: 0;
}

.product-section-teaser {
  background: var(--white);
  padding: 1rem;
}

/* Productform */

.product-section-form {
  padding: 1rem;
}

.product-form {
  background: var(--light-grey);
  border-radius: var(--border-radius-box);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "price price"
    "size quantity"
    "color color"
    "submit submit";
  grid-gap: 1rem;
}

/* Grid form items */

.price {
  grid-area: price;
  width: 100%;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-input);
  background: var(--white);
  color: var(--radio-color-black);
  text-align: center;
  font-size: var(--price-font-size);
  font-weight: 500;
}

.form-group-size {
  grid-area: size;
  & select {
    border-color: var(--lighter-grey);
    border-radius: var(--border-radius-input);
  }
}

.form-group-quantity {
  grid-area: quantity;
  & select {
    border-color: var(--lighter-grey);
    border-radius: var(--border-radius-input);
  }
}

.form-group-color {
  position: relative;
  padding: 0;
  margin: 0;
  margin-block: 0.5rem;
  border: 0;
  grid-area: color;

  & legend {
    float: left;
    padding-right: 0.5rem;
  }

  & label {
    position: absolute;
    overflow: hidden;
    height: 0;
  }

  & input[type="radio"] {
    appearance: none;
    width: 23px;
    height: 23px;
    margin-right: 0.3rem;
    border-radius: 50%;
    border: 0px solid var(--black);
    outline: none;
    transition: all var(--duration) ease-in-out;

    &:hover,
    &:focus {
      scale: 1.15;
      outline: 2px solid var(--radio-color-light-blue);
      outline-offset: 0.15rem;
    }

    &:before {
      content: "";
      display: block;
      width: 50%;
      height: 50%;
      margin: 27% auto;
      border-radius: 50%;
    }

    &:checked:before {
      background: var(--white);
      border: 2px solid var(--black);
    }
  }

  /* Asics */
  .radio-red {
    background-color: var(--radio-color-red);
  }

  .radio-blue {
    background-color: var(--radio-color-mid-blue);
  }

  .radio-black {
    background-color: var(--radio-color-black);
  }

  /* Adidas */

  & .radio-olive-blue {
    background-image: linear-gradient(
      to right,
      var(--radio-color-olive) 50%,
      var(--radio-color-black) 50%
    );
  }

  & .radio-blue-black {
    background-image: linear-gradient(
      to right,
      var(--radio-color-light-blue) 50%,
      var(--radio-color-black) 50%
    );
  }

  & .radio-pink-black {
    background-image: linear-gradient(
      to right,
      var(--radio-color-pink) 50%,
      var(--radio-color-black) 50%
    );
  }

  /* New Balance */

  & .radio-red-white {
    background-image: linear-gradient(
      to right,
      var(--radio-color-red) 50%,
      var(--white) 50%
    );
  }

  & .radio-black-white {
    background-image: linear-gradient(
      to right,
      var(--radio-color-black) 50%,
      var(--white) 50%
    );
  }
}

.submit {
  grid-area: submit;
  border-radius: var(--border-radius-input);
  border: 0;
  color: var(--white);
  padding: 1rem;
  background: var(--dark-blue);
  cursor: pointer;
  transition: all var(--duration) ease;

  &:hover {
    background-color: var(--olive);
  }
}

/* Badge */

span.badge {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: rgb(255 255 255 / 0.6);
  backdrop-filter: blur(1px);
  font-size: 0.75rem;
  color: var(--dark-grey);
  padding: 0.3rem 0.75rem;
  border-radius: var(--border-radius-input);
  font-weight: 600;
}
