/* Basic, Colors, Variables */

:root {
  --white: hsl(1deg 0% 100% / 1);
  --light-grey: hsl(0deg 0% 96% / 1);
  --pink: hsl(338deg 56% 62% / 1);
  --red: hsl(4deg 67% 48% / 1);
  --light-blue: hsl(216deg 62% 59% /1);
  --mid-blue: hsl(217deg 70% 30% / 1);
  --olive: hsl(59deg 47% 41% / 1);
  --black: hsl(0deg 0% 0% / 1);

  --background: var(--light-grey);
  --button-background: var(--mid-blue);

  --radio-color-light-blue: var(--light-blue);
  --radio-color-mid-blue: var(--mid-blue);
  --radio-color-red: var(--mid-red);
  --radio-color-black: var(--black);
  --radio-color-olive: var(--olive);
  --radio-color-pink: var(--pink);
}

/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./quicksand-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", Times, Helvetica, sans-serif;
  background: var(--background);
}

.product-image {
  margin: 0;
  padding: 0;
}
.product img {
  width: 100%;
}

.product-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
