/* =========================================================================
   General styles
========================================================================== */

/*    Definition colors
========================================================================== */

:root {
  --white: #fff;
  --black: #000;
  --pink-gradient: #ff6fd8;
  --blue-gradient: #3813c2;

  --lightpink: #ffd9e8;
  --mediumpink: #de95ba;
  --regularpink: #7f4a88;
  --darkpink: #4a266a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background: var(--pink-gradient);
}

html {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);

  @media screen and (prefers-color-scheme: dark) {
    & {
      background: var(--black);
      color: var(--white);
    }
  }
}
/* For medium screns  */

@media screen and (min-width: 787px) {
  html {
    font-size: 20px;
  }
}

/* For large screens */

@media screen and (min-width: 992px) {
  html {
    font-size: 25px;
  }
}

/* =========================================================================
   Headline styling
========================================================================== */

.site-header,
.main-container {
  padding: 0;
}

.site-header {
  padding: 5rem 0 1rem;
  text-align: center;
  color: var(--white);
  background: linear-gradient(
    135deg,
    var(--pink-gradient) 10%,
    var(--blue-gradient) 100%
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Phudu, "Courier New", Courier, monospace;
}

h2,
h1 + h2 {
  position: relative;
  left: rem;
}
h1 + p::after {
  content: " 🦦";
  position: relative;
  top: -0.7rem;
  left: -1.8rem;
}
h2 {
  color: var(--pink-gradient);
}

.headline-group {
  font-size: 5rem;
}

.first-headline {
  font-size: 1em;
}

.second-headline {
  font-size: 0.25em;
}

/* =========================================================================
  Structure styling
  ======================================================================== */

.main-container {
  max-width: 60ch;
  margin: 0 auto;
}

.article {
  margin-bottom: 2rem;
  padding: 0 3rem;
}

article + article {
  border-top: 3px solid var(--blue-gradient);
}

.article h2 {
  position: relative;
  left: -1.5rem;
}

.header-experience {
  display: flex;
  flex-direction: column;

  /* Flexbox @ medium breakpoint */
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

/* =========================================================================
   Navigation and Header
========================================================================== */

.header-navigation {
  position: sticky;
  top: -1px;
  z-index: 1;
  padding: 1rem 0;
  text-align: center;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*    Navigation links
========================================================================== */

[href^="#"]:link,
[href^="#"]:visited {
  border-radius: 0.4rem;
  text-decoration: none;
  color: var(--white);
  margin-inline: 1rem;
  padding: 0.5rem 2rem;
}
[href^="#"]:link::after {
  content: " →";
}

[href^="#"]:hover,
[href^="#"]:active {
  background: var(--white);
  color: currentColor;
  text-decoration: none;
}

/*    Link styling
========================================================================== */

a:link,
a:visited {
  color: var(--pink-gradient);
  display: inline-block;
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem;
}

a:hover,
a:active {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background: var(--pink-gradient);
  color: var(--white);
}

/*    "Hire Me" Button, Header
========================================================================== */

.badge {
  position: absolute;
  top: 2%;
  right: 0%;
}

/* for large screens */

@media screen and (min-width: 992px) {
  .badge {
    position: fixed;
    top: 1%;
    right: 0;
  }
}

.badge .badge-link:link,
.badge .badge-link:visited {
  background: var(--black);
  display: block;
  width: 150px;
  border-radius: 0.4rem 0 0 0.4rem;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  line-height: 1.25rem;
}

.badge .badge-link:hover,
.badge .badge-link:active {
  color: inherit;
  background: var(--white);
}

/* =========================================================================
   Footer styling
========================================================================== */

.footer {
  background: var(--blue-gradient);
  background: linear-gradient(125deg, var(--white) 0%, var(--black) 100%),
    linear-gradient(
      200deg,
      var(--lightpink) 0%,
      var(--lightpink) 50%,
      var(--mediumpink) 50%,
      var(--mediumpink) 60%,
      var(--regularpink) 60%,
      var(--regularpink) 75%,
      var(--darkpink) 75%,
      var(--darkpink) 100%
    ),
    linear-gradient(
      113deg,
      var(--lightpink) 0%,
      var(--lightpink) 40%,
      var(--mediumpink) 40%,
      var(--mediumpink) 50%,
      var(--regularpink) 50%,
      var(--regularpink) 70%,
      var(--darkpink) 70%,
      var(--darkpink) 100%
    );

  background-blend-mode: overlay, overlay, normal;
  color: var(--black);
  text-align: right;
}

.article-footer {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2ch 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer small {
  display: none;
}

/*    Media queries for "no" printing
========================================================================== */

@media print {
  .badge {
    display: none;
  }

  footer small {
    display: block;
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
  }
}
